#top{
    
    padding:1vw;
    margin-bottom:0vw;
}

#Heading{
    text-align:center;
}
.jumbotron{
    padding:1vw;
    padding-left:1vw;
}

#theory{
    margin-top:0vw;
    padding:1vw;
}

#inputarea{
    padding:1vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}